[:root "What is the capital of [Texas]?"]

{:q  "What is the capital of $0?"
 :sq {}
 :r :locked}

[:ask "What is the capital city of $q.0?"]

{:q  "What is the capital of $0?"
 :sq {0 {:q "What is the capital city of $q.0?"
         :a :locked}}
 :r :locked}

[:unlock "sq.0.a"]

;;;; BEGIN In child workspace

{:q "What is the capital city of $0?"
 :sq {}
 :r :locked}

[:unlock "q.0"]

{:q "What is the capital city of [0: Texas]?"
 :sq {}
 :r :locked}

[:ask "Who was the father of $q.0?"]

{:q "What is the capital city of [0: Texas]?"
 :sq {:q "Who was the father of $q.0?"
      :a :locked}
 :r :locked}

[:unlock "q.0.a"]

;;;; BEGIN In grandchild workspace

{:q "Who was the father of $1?"
 :r :locked}

[:unlock "r"]

{:q "Who was the father of $1?"
 :r {:parent :locked
     :max-v 1}}

[:unlock "r.parent"]

;; The parent version must be the one in which the Unlock to the child
;; workspace's answer was issued.
{:q "Who was the father of $1?"
 :r {:parent :locked
     :max-v 2
     "2" {:q  "What is the capital city of [0: Texas]?"
          :sq {:q "Who was the father of $q.0?"
               :a :locked
               :child {:max-v 2} ; ← Reflection structure of the current ws.
               }
          :r  :locked}}}
;; I guess I somehow need to make clear where I am in the new structure?
;; Or I don't do this "extra layer, move pointer" thing and just start a new
;; tree at :parent.

[:reply "Stephen F. Austin"]

;;;; END In grandchild workspace

{:q "What is the capital city of [0: Texas]?"
 :sq {:q "Who was the father of $q.0?"
      :a "Stephen F. Austin"}
 :r :locked}

[:unlock "r"]

{:q "What is the capital city of [0: Texas]?"
 :sq {:q "Who was the father of $q.0?"
      :a "Stephen F. Austin"}
 :r {:max-v }}

[:reply "Austin"]

;;;; END In child workspace

{:q  "What is the capital of $0?"
 :sq {0 {:q "What is the capital city of $q.0?"
         :a "Austin"}}
 :r :locked}
