;; ws   … workspace
;; act  … action

;;;; user

{:db/ident :user/handle
 :db/valueType :db.type/string
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one}

{:db/ident :user/root-ws
 :db/valueType :db.type/ref                                 ;
 :db/cardinality :db.cardinality/many}


;;;; ws

{:db/ident :ws/content
 :db/valueType :db.type/ref
 :db/isComponent true
 :db/cardinality :db.cardinality/one}

{:db/ident :ws/proc
 :db/valueType :db.type/ref
 :db/isComponent true
 :db/cardinality :db.cardinality/one}

;;;; ws.content

;; All refer to hypertext.

{:db/ident :ws.content/question
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one}

{:db/ident :ws.content/answer
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one}

{:db/ident :ws.content/sub-ws
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many}

;;;; ws.proc

{:db/ident :ws.proc/state
 :db/valueType :db.type/ref                                 ; enum
 :db/cardinality :db.cardinality/one}

{:db/ident :ws.proc/waiting-for
 :db/valueType :db.type/ref                                 ; ws
 :db/cardinality :db.cardinality/many}

;;;; ws.state

[:db/add #db/id[:db.part/user] :db/ident :ws.proc.state/showing]
[:db/add #db/id[:db.part/user] :db/ident :ws.proc.state/pending]
[:db/add #db/id[:db.part/user] :db/ident :ws.proc.state/retired]

;;;; act

{:db/ident :act/command
 :db/valueType :db.type/ref                                 ; enum
 :db/cardinality :db.cardinality/one}

{:db/ident :act/content
 :db/valueType :db.type/ref                                 ; hypertext
 :db/cardinality :db.cardinality/one}

;;;; act.command

[:db/add #db/id[:db.part/user] :db/ident :act.command/ask]
[:db/add #db/id[:db.part/user] :db/ident :act.command/reply]
[:db/add #db/id[:db.part/user] :db/ident :act.command/unlock]
[:db/add #db/id[:db.part/user] :db/ident :act.command/reflect]

;;;; tx

{:db/ident :tx/act
 :db/valueType :db.type/ref                                 ; act
 :db/cardinality :db.cardinality/one}

;;;; hypertext

{:db/ident :hypertext/content
 :db/valueType :db.type/string                              ; with embedded pointer names
 :db/cardinality :db.cardinality/one}

{:db/ident :hypertext/pointer
 :db/valueType :db.type/ref                                 ; pointer
 :db/isComponent true
 :db/cardinality :db.cardinality/many}

;;;; pointer

{:db/ident :pointer/name
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one}

{:db/ident :pointer/target
 :db/valueType :db.type/ref                                 ; anything (?)
 :db/cardinality :db.cardinality/one}

{:db/ident :pointer/locked?
 :db/valueType :db.type/boolean                             ; anything (?)
 :db/cardinality :db.cardinality/one}
